<h1>Privacy</h1>

<form asp-controller="@typeof(HomeController).UrlName()" asp-action="@nameof(HomeController.Index)" method="post">
      <input type="text" name="firstName" value="" />
    <input type="text" name="surName" value="" />
    <button type="submit">Siusti</button>
</form>